<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.jeffapps.anyzip"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>AnyZip</name>

  <description>
      AnyZip is a free ZIP converter that lets you easily compress your files to the ZIP format.
  </description>

  <author href="https://jefreesujit.github.io" email="jefree.sujit@gmail.com">
      Jefree Sujit E
  </author>

</widget>